/* App.css */

.app-container {
  background-color: #97afb6;
  color: #000000;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  text-align: center;
}

.title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
}

.button-container {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}

.glow-button {
  border: none;
  outline: none;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  border-radius: 10px; /* Изменяем форму кнопок */
  background-color: transparent; /* Убираем фон кнопок */
  color: #ffffff; /* Белый текст */
  cursor: pointer;
  position: relative; /* Добавляем положение для тени */
  transition: background-color 0.5s ease-in-out; /* Добавляем плавные переходы для фона кнопки */
}

.glow-button.start {
  background-color: #88d280; /* Пастельно-зеленый цвет */
}

.glow-button.stop {
  background-color: #f76666;
  color: #ffffff; /* Белый текст */
  animation: pulse-shadow 1s infinite alternate; /* Анимация пульсации для тени */
}

.glow-button.reset {
  background-color: #eed469;
  color: #ffffff; /* Белый текст */
}

.glow-button.copy {
  background-color: #62cef2;
  color: #ffffff; /* Белый текст */
}

.transcript-container {
  margin-bottom: 20px;
}

.transcript-text {
  width: 400px;
  height: 200px;
  background-color: rgba(0, 0, 0, 0.1); /* Светлый фон с небольшой непрозрачностью */
  border: none;
  outline: none;
  padding: 10px;
  color: #ffffff; /* Белый текст */
  font-size: 16px;
  font-family: "Courier New", monospace;
  resize: none;
}

.interim-transcript {
  color: #7ae57a;
  font-size: 16px;
}

.toast {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: rgba(0, 0, 0, 0.8);
  color: #ffffff;
  padding: 10px;
  border-radius: 5px;
  animation: fade-in-out 1s ease-in-out;
}

@keyframes pulse-shadow {
  0% {
    box-shadow: 0px 0px 10px rgba(255, 0, 0, 0.5);
  }
  100% {
    box-shadow: 0px 0px 20px rgba(255, 0, 0, 0.8);
  }
}