/* AudioVisualizer.css */

.audio-visualizer {
    width: 100%;
    height: 20px; /* Высота полосы визуализации */
    background-color: #f0f0f0; /* Цвет фона */
    margin-top: 10px; /* Расстояние между визуализатором и текстом */
  }
  
  .volume-bar {
    height: 100%;
    background-color: #3498db; /* Цвет визуализации */
    transition: width 0.1s; /* Плавное изменение ширины при изменении уровня громкости */
  }
  